  <h2>✅ Expressサーバーに正常にアクセスできました！</h2>
  <p><a href="/denki">電気工事士２</a></p>
  
  <h2>メニュー</h2>
  <ul>
    <% menus.forEach(menu => { %>
      <li>
        <a href="<%= menu.path %>"><%= menu.name %></a>
        <p><%= menu.description %></p>
      </li>
    <% }) %>
  </ul>