  <h2>✅ Expressサーバーに正常にアクセスできました！</h2>
  <p>あなたは <strong><%= name %></strong> ですね！</p>
  <p><a href="/log">👉 BANログを見る（/log）</a></p>
  <p><a href="/log/country">👉 国別BAN集計</a></p>
  <p><a href="/admin/notify">プッシュ通知テスト</a></p>
  <p><a href="/send-push-form">プッシュ通知の送信フォーム</a></p>
  <p><a href="/push-register">プッシュ通知の登録ページ</a></p>
  <hr>
  <p><a href="/denki">電気工事士２</a></p>
  <p><a href="/ideco">IDECOを始める</a></p>
  <p><a href="/hakone20250816">2025/08/16(土) 箱根</a></p>
  