body {
  background-color: #f7f9fb;
  color: #333;
}

header {
  background-color: #334;
  color: #fff;
}

th {
  background-color: #eef;
  color: #223;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}
